[Unit]
Description=Costa Quickshell desktop bar
PartOf=hyprland-session.target
Requires=costa-utils.service
After=hyprland-session.target costa-utils.service

[Service]
Type=simple
ExecStart=/usr/bin/qs -c costa
Restart=on-failure
RestartSec=1s
