* {
    bg-col:       #1a1b26;
    bg-col-light: #24283b;
    border-col:   #7aa2f7;
    selected-col: #24283b;
    blue:         #7aa2f7;
    fg-col:       #c0caf5;
    fg-col2:      #f7768e;
    grey:         #565f89;

    width: 600;
    font: "JetBrainsMono Nerd Font 11";
}
