/* ~/.config/waybar/style.css */
* {
    border: none;
    border-radius: 0;
    font-family: "DejaVuSansM Nerd Font", Monospace;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(43, 48, 69, 0.8);
    color: #cdd6f4;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #a6adc8;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #45475a;
    color: #cdd6f4;
}

#workspaces button.urgent {
    background-color: #f38ba8;
    color: #1e1e2e;
}

#mode {
    background-color: #f9e2af;
    color: #1e1e2e;
    padding: 0 8px;
    margin: 4px 0px;
    border-radius: 5px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    margin: 0 2px;
    color: #cdd6f4;
}

#window,
#workspaces {
    margin: 0 4px;
}

#pulseaudio {
    color: #89b4fa;
}

#pulseaudio.muted {
    color: #f5c2e7;
}

#network {
    color: #a6e3a1;
}

#network.disconnected {
    color: #f38ba8;
}

#cpu {
    color: #f5c2e7;
}

#memory {
    color: #fab387;
}

#clock {
    color: #b4befe;
}

#tray {
    background-color: transparent;
    margin-right: 5px;
}
